@media screen and ( min-width: 670px ) and ( max-width: 1000px ) {

	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

	.service {
		order: 1;
	}
}

@media screen and (max-width: 669px) {
	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .intro_jumbotron .text_wrapper,
    .intro_jumbotron .text_content {
    	padding: 15px;
    }

    .intro_jumbotron .text_content {
    	font-size: 30px;
    }

    .main_navigation {
    	width: 100vw;
    }

    .feature.box {
        margin-bottom: 70px;
    }

    .feature.box:last-child {
        margin-bottom: 0px;
    }

    .people_description p { font-size: 14px;}
    .text_typed { font-size: 30px; margin-left: 0px;}

    .peoples h2.section_headline {
        padding: 40px 0px;
    }

}

@media screen and (min-width: 300px ) and (max-width: 566px) {
	.col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    .btn_toggle_menu span {
        border: none;
    }

    button[type=submit] {
        margin-top: 40px;
    }

    .btn_toggle_menu small {
        display: none;
    }

    .peoples h2.section_headline {
        padding: 10px 0px 10px 0px
    }

    .main_brand_logo {
        left: 2%;
    }

    .btn_toggle_menu {
        top: 26px;
    }

    .service {
    	width: 300px;
    }

    .service .box {
    	height: 300px;
    }

    .service .box .service_content {
    	transform: translateZ(150px);
    }

    .service .box .service_text {
    	transform: rotateY(-90deg) translateZ(150px);
    }

		.service_content { position: relative; }
		.service_content .enter_icon svg {
			fill: rgba(255,255,255,0.5);
			margin-top: 20px;
			position: absolute;
			bottom: 30px;
			right: 40px;
		}


} /* END of MOBILE */


/*@media screen and (max-width: 1000px) {
	.service {
		order: 1;
	}

	.services_content {
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 850px) and (max-width: 1000px ) {
	.service .box {
		height: 300px;
	}

	.service {
		width: 300px;
	}

	.service .box .service_content {
		transform: translateZ(150px);
	}

	.service .box .service_text {
		-webkit-transform: rotateY(-90deg) translateZ(150px);
    	transform: rotateY(-90deg) translateZ(150px);
	}
}*/
