body { font-family: "Lato", sans-serif; font-size: 14px;}
p { margin: 10px 0px; line-height: 1.7;}

.bg_pink { background-color: pink; }
.bg_mint { background-color: rgba(34,219,240,0.5); }
.bg_blue { background-color: rgba(35,150,241,0.5); }
.bg_gray1 { background-color: rgba(50,50,50,0.8); }
.bg_gray2 { background-color: rgba(80,80,80,0.8); }
.bg_white { background-color: rgb(252, 252, 252); }
.img_responsive { width: 100%; }
.text_center { text-align: center; }

h2.section_headline {
	padding: 140px 0px 70px 0px;
	/*background: #f6f6f6;*/
	margin-left: 25px;
	font-size: 43px;
	font-weight: 200;
	letter-spacing: 1px;
	text-align: left;
	position: relative;
	color: #353535;
	color: rgb(70,70,70);
	font-family: 'Poppins', sans-serif;
}

h2.section_headline span { color: #22b9f0; }

h2.section_headline:after {
	/*content: '';*/
	display: block;
	position: absolute;
	bottom: 50px;
	width: 60px;
	height: 2px;
	/*margin: auto;*/
	right: 0;
	left: 0;
	background: rgb(34,201,240);
}





.people { padding: 150px 150px; background-color:; }
.people img { margin: 100px auto; }
.people_description { padding: 100px 20px; min-height: 700px;}
.people h1, .people h2, .people h3, .people h4, .people h5, .people h6 { margin: 5px 0px; color: rgb(30,30,30); }
.people p { padding: 15px 270px; text-align: justify; background-color:;}
.people p { max-width: 300px; margin: 0 auto; padding: 25px 0px; text-align: justify; background-color:;}
.people h2 { position: relative; padding-bottom: 5px; margin-bottom: 20px;}
.people h2::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0px;
	right: 0px;
	width: 70px;
	height: 3px;
	background-color: rgba(252, 252, 252, 0.3);
	margin: auto;
}
.people_button {
	position: absolute;
	bottom: 50px;
	left:0;
	right: 0;
	margin: auto;
	width: 70px;
}


.get_contact {
	background: #f6f6f6;
}

.get_contact-content {
	padding: 150px 20px 120px 20px;
	background-color: rgb(252, 252, 252);
}


#get_contact h2,
#get_contact h3  {
	text-align: center;
	margin: 15px 0px;
}

#get_contact h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(35,150,241,0.5)
}

#get_contact h3 {
	color: rgb(180,180,180);
	font-size: 27px;
	font-weight: 700;

}
.get_contact-btn {
	line-height: 1.7;
	display: block;
	width: 220px;
	padding: 18px 30px;
	background: rgb(40,40,40);
	border: none;
	margin: 50px auto;
	cursor: pointer;
	color: #FAFAFA;
	text-transform: uppercase;
	transition: all .5s;
	border: 2px solid rgb(40,40,40);
	/*border-radius: 4px;*/
}

.get_contact-btn:hover {
	/*border: 2px solid #000;*/
	color: #000;
	background: #FFF;
}

#funny_facts {
	background: url("../images/keyb1.jpg");
	background-size: cover;
	background-position: center;
	/*background-image: url("../images/keyb1.jpg");*/
}

#funny_facts .feature_text { font-size: 14px; font-weight: 400;}

h2.funny_number {
		font-size: 27px;
    font-weight: 700;
    margin: 25px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(70,70,70);
    font-family: 'Poppins', sans-serif;
}


.feature_icon svg {
	color: pink;
	width: 45px;
	height: 45px;
	font-size: 100px;
	fill: #22b9f0;
	vertical-align: bottom;
}

.works_tile { position: relative; }

.works_description {

	top:0px;
	left:0px;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding: 40px 100px 40px 20px;
	background-color: rgba(10,10,10,0.8);
	background-color: rgba(34, 167, 240, 0.9);
}

.hide_this {
	display: none;
}

.works_description h3 {
	font-family: "lato", serif;
	font-size: 36px;
	font-weight: 200;
	color: rgba(250,250,250,1);
}

.works_description p {
	color: rgba(250,250,250,1);
}

.works_description svg {
	fill: white;
	position: absolute;
	right: 30px;
	bottom: 25px;
}
