@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&subset=latin-ext');

* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	position: relative;
	width: 100%;
	background-color: rgb(252, 252, 252);
}

button {
	background: none;
	border: none;
}

ol, ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	/*min-height: 1px;*/
	/*height: 100%;*/
	margin: auto;
}

input {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

input, textarea {
	-webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
    display: table;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class*='col-'].no_padding {
	padding: 0px;
}

[class*='col-'] {
	float: left;
	width: 100%;
	min-height: 1px;
	padding: 12px;
	position: relative;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20 {width: 20%;}
.col-40 {width: 40%;}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.text_typed {
	/*margin-left: 80px;*/
	font-size: 90px;
	color: rgb(34,201,240);
	display: inline;
}

.typed-cursor {
	/*font-size: 20px;*/
	font-weight: 300;
}

header {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main_brand_logo {
	position: absolute;
	top: 58px;
	left: 8%;
	z-index: 1000;
	width: 200px;
	height: 27px;
	color: #FFF;
	text-indent: -99999px;
	background: url("../images/logo_white_shadow.png");
}

.btn_toggle_menu {
	position: absolute;
	top: 50px;
	right: 8%;
	background: unset;
	border: none;
	z-index: 1000;
	cursor: pointer;
	transition: all .5s;
}

.btn_toggle_menu:hover .main_menu_icon path,
.btn_toggle_menu:hover span,
.btn_toggle_menu:hover small {
	border-color: #22A7F0;
	fill: #22A7F0;
	color: #22A7F0;
	transition: all .5s
}

.btn_toggle_menu span {
	line-height: 30px;
    padding: 5px 15px;
    /*border: 2px solid #4ea1d3;*/
    /*border: 2px solid #22A7F0;*/
    border: 2px solid #FFF;
    display: inline-block;
    /*color: #4ea1d3;*/
    /*color: #22A7F0;*/
    color: #FFF;
    letter-spacing: 2px;
    transition: border .5s;
}

.btn_toggle_menu small {
	vertical-align: top;
    font-size: 15px;
    line-height: 30px;
    margin-right: 5px;
    font-weight: 400;
    transition: color .5s;
}

.main_menu_icon {
	line-height: 30px;
	vertical-align: top;
}

.main_menu_icon path {
	/*fill: #4ea1d3;*/
	/*fill: #22A7F0;*/
	fill: #FFF;
	transition: fill .5s;
}

.main_navigation {
	position: fixed;
    width: 50vw;
    height: 100vh;
    background: #000;
    right: 0px;
    top: 0px;
    z-index: 1001;
    display: table;
    color: white;
    text-align: center;
    transform: translateX(100%);
	transition: transform .6s;
	opacity: 0.95;
}

.main_navigation ul {
	display: table-cell;
	vertical-align: middle;
}

.main_navigation ul li {
	margin: 70px 0px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.main_navigation ul li a {
	color: #FFF;
	text-decoration: none;
}

.main_navigation-close-btn {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.nav-visible .main_navigation {
	transform: translateX(0%);
}

.intro_jumbotron {
	background: url('../images/intro_home_no0.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.intro_jumbotron .text_wrapper {
	display: table;
	height: 100vh;
	width: 100%;
	text-align: center;
	/*padding-left: 200px;*/
}

.intro_jumbotron .text_content {
	font-size: 70px;
	display: table-cell;
	vertical-align: middle;
	padding: 155px;
	text-align: left;
	color: #FFF;
	font-weight: 800;
}

.intro_jumbotron .text_content h1 {
	display: inline-block;
}

.intro_jumbotron .text_content h1 {
	font-family: 'Lato', sans-serif;
}

.intro_jumbotron .intro_text a {
	position: absolute;
    bottom: 10px;
    width: 40px;
    margin: auto;
    display: block;
    left: 0px;
    right: 0px;
}

.features {
	/*padding: 150px 0px;*/
	/*margin: 60px 0px;*/
}

.feature, .service {
	text-align: center;
}

.feature.box {
	/*cursor: pointer; */ /*-optionall-*/
}

.feature.box:after {
	content: '';
	position: absolute;
	bottom: -60px;
	/*width: 40%;*/
	background: rgb(34,201,240);
	height: 1px;
	margin: auto;
	left: 50%;
	right: 50%;
	/*-webkit-transition-property: left right;*/
  	transition: left 0.5s,  right 0.5s;
  	/*transition-duration: 0.3s;*/
}

.feature.box:hover:after {
	left: 30%;
	right: 30%;
}


.feature_icon > img {
	margin-bottom: 20px;
}

h2.feature_title, h2.service_title {
	font-size: 18px;
    font-weight: 700;
    margin: 25px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(47, 49, 47);
    font-family: 'Poppins', sans-serif;
}

.feature_content {
	/*padding: 0px 50px;*/
}

p.feature_text {
	padding: 0px 20px;
}

p.feature_text, p.service_intro {
	font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 26px;
    /*padding: 0px 90px;*/
    /*display: none;*/
}

.work_content figure {
	width: 100%;
	position: relative;
}

.work_content figcaption {
	position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 0 20px;
    color: #FFF;
}

.work_intro {
	display: table;
	width: 100%;
	height: 100%;
}

.work-inner {
	display: table-cell;
	vertical-align: middle;
}

.services_headline {
	padding: 70px 0px;
	/*background: #f6f6f6;*/
	margin-left: 40px;
	font-size: 25px;
	line-height: 45px;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-align: left;
	position: relative;
	color: #333;
	font-family: 'Poppins', sans-serif;
}

.services_headline span {
	display: block;
    font-size: 55px;
    letter-spacing: 6px;
    color: rgb(34,219,240);
    font-weight: 700;
}

.services_headline:after,
.works_headline:after {
	/*content: '';*/
	display: block;
	position: absolute;
	bottom: 50px;
	width: 60px;
	height: 2px;
	/*margin: auto;*/
	right: 0;
	left: 0;
	background: rgb(34,201,240);
}

.service_content {
	/*margin-bottom: 150px;*/
}



/*---test parallax----*/

header > .header_wrapper {
	height: 100%;
	position: relative;
	top: -40%;
}

.features_wrapper {
	height: 200%;
	position: relative;
	top: -100%;
	padding: 150px 0px 30px 0px;
}

#features {
	/*overflow: hidden;*/
	background-color: #f6f6f6;
	position: relative;
}

#features:after {
	content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f6f6f6;
    bottom: -20px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
}


/*----test 3d rotation-----*/

.service_icon {
	margin-bottom: 30px;
}

.service_icon img {
	height: auto;
}

.services_content {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.services_content.one .service:first-child .service_content {
	background: rgb(34,219,240);
	background: rgb(34,184,240);
}

.services_content.one .service:nth-child(2) .service_content {
	background: rgb(34,201,240);
}

.services_content.one .service:nth-child(3) .service_content {
	background: rgb(34,184,240);
	background: rgb(34,219,240);
}

.services_content.two .service:nth-child(1) .service_content {
	background: rgb(34,150,240);
}

.services_content.two .service:nth-child(2) .service_content {
	background: rgb(34,133,240);
}

.services_content.two .service:nth-child(3) .service_content {
	background: rgb(34,116,240);
}

.services_content.two {
	margin-bottom: 60px;
}

.service {
	width: 350px;
	/*perspective: 20000px;*/
	transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
    /* transform: rotateY(90deg); */
    transition: transform .6s;
    margin: 20px;
}

.service .box {
	/*transform: rotateY(0deg);*/
	/*width: 400px;*/
	height: 350px;
	/*transform-style: preserve-3d;*/
	position: relative;
	transition: transform .6s;
	transform-style: preserve-3d;

}

.service .box .service_content {
	position: absolute;
    top: 0px;
    padding: 20px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-transform: translateZ(175px);
    transform: translateZ(175px);
    z-index: 100;
    transform-style: preserve-3d;
    /* align-content: space-around; */
    justify-content: center;
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
/*	-webkit-transform: translateZ(200px);
	transform: translateZ(200px);*/
	background-color: rgb(249, 249, 249);
}

.service .box .service_text {
	position: absolute;
	padding: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	position: absolute;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /* transform: translateX(-200px); */
    /* transform: rotateY(-90deg); */
    /* background-color: #000; */
    /* color: white; */
    display: flex;
    align-items: center;
    -webkit-transform: rotateY(-90deg) translateZ(175px);
    transform: rotateY(-90deg) translateZ(175px);
    transform-style: preserve-3d;
    z-index: 10;
    visibility: 0;
    /*visibility: hidden;*/
	/*width: 100%;
	height: 100%;*/
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
	/*-webkit-transform: rotateY(-90deg) translateZ(252px);
	transform: rotateY(-90deg) translateZ(252px);*/
	/*transform: translateX(-200px);*/
	/*transform: rotateY(-90deg);*/
	transition: transform 1s;
	background-color: #22A7F0;
	color: white;
}



.service .box .service_text {

}

.service:hover {
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	transform-style: preserve-3d;
}

.service:hover .service_text {
	/*visibility: visible;*/
}

.no-preserve3d .service {
	overflow: hidden;
}

.no-preserve3d .service:hover {
	-webkit-transform: none;
	transform: none;
	transform-style: flat;
}

.no-preserve3d .service .box .service_content,
.no-preserved .service .box {
	/*background-color: red;*/
	transform-style: flat;
	z-index: 0;
}

.no-preserve3d .service .box .service_text {
	transform-style: flat;
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.no-preserve3d .service:hover .service_text {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.no-preserve3d .service .box .service_content {
	-webkit-transform: translate3d(0, 0, 200px);
    transform-style: flat;
}


/*----Contact form styles & footer stylesz----*/

.contact > .container {
	/*padding: 0px 15px;*/
	max-width: 100%;
}

.contact {
	background: rgb(40,40,40);
}

.contact-user {
	text-align: center;
	/*background: rgb(252, 252, 252);*/
}

.form_wrapper {
	background: rgb(252, 252, 252);
	font-family: 'Poppins', sans-serif;
}

.form_wrapper h3,
.contact-details h3 {
	color: rgb(70,70,70);
	font-size: 28px;
	padding: 50px;
	font-family: 'Poppins', sans-serif;
}

.contact-details h3 {
	color: rgb(252, 252, 252);
	font-size: 26px;
}

.contact-user p {
	font-size: 18px;
	cursor: default;
	transition: all 5s;
}

.contact-user .phone,
.contact-user .email {
	display: block;
	transition: all 5s;
}

.contact-user p:hover .phone,
.contact-user p:hover .email {
	text-decoration: underline;
}

.contact-user p, .contact-user span {
	font-family: 'Poppins', sans-serif;
	color: rgb(252, 252, 252);
}

form {
	margin: 50px;
}

input[name=contact-name],
input[name="contact-email"],
input[name="contact-phone"] {
	font-family: 'Poppins', sans-serif;
	width: 100%;
    display: block;
    outline: none;
    color: rgb(40,40,40);
    border-bottom: 1px solid rgb(40,40,40);
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 25px;
    background-color: transparent;
}

textarea[name=contact-message] {
	font-family: 'Poppins', sans-serif;
	resize: none;
	height: 250px;
	width: 100%;
    border: none;
    /*margin-top: 40px;*/
    color: rgb(40,40,40);
    border-bottom: 1px solid rgb(40,40,40);
    padding-bottom: 25px;
    line-height: 30px;
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 40px;
}

button[type=submit] {
	background: rgb(40,40,40);
	padding: 10px 25px;
	letter-spacing: 1.5px;
	position: relative;
	float: right;
	color: rgb(250, 250, 250);
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
	transition: all .5s;
	border: 2px solid rgb(40,40,40);
}

button[type=submit]:hover {
	background: transparent;
	color: rgb(40,40,40);
}

.copy-rights {
	padding: 30px 15px;
}

.copy-rights span {
	float: right;
}
