body { font-family: "Lato", sans-serif; font-size: 14px;}
p { margin: 10px 0px; line-height: 1.7;}

.bg_pink { background-color: pink; }
.bg_mint { background-color: #22dbf0; }
.bg_blue { background-color: #2396f1; }
.img_responsive { width: 100%; }
.text_center { text-align: center; }
.people { padding: 150px 150px; background-color:; }
.people img { margin: 100px auto; }
.people_description { padding: 100px 20px; }
.people h1, .people h2, .people h3, .people h4, .people h5, .people h6 { margin: 5px 0px; }
.people p { padding: 15px 270px; text-align: justify; background-color:;}
.people p { max-width: 300px; margin: 0 auto; padding: 25px 0px; text-align: justify; background-color:;}
.people h2 { position: relative; padding-bottom: 5px; margin-bottom: 20px;}
.people h2::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0px;
	right: 0px;
	width: 70px;
	height: 3px;
	background-color: rgba(252, 252, 252, 0.3);
	margin: auto;
}
.people_button {
	position: absolute;
	bottom: 50px;
	left:0;
	right: 0;
	margin: auto;
	width: 70px;
}
